# @file .npmrc

#registry=https://registry.npmmirror.com
registry=https://registry.npmjs.org

# https://docs.npmjs.com/cli/v10/using-npm/config#engine-strict
engine-strict=true

# https://pnpm.io/cli/add#--ignore-workspace-root-check
ignore-workspace-root-check=true

# https://pnpm.io/npmrc#link-workspace-packages
link-workspace-packages=true

# https://pnpm.io/npmrc#shamefully-hoist
shamefully-hoist=true
